* {
	box-sizing: border-box;
	margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-text-size-adjust: none;
  color: #333;
  max-width: 720px;
  margin: 0 auto;
  padding: 10px;
}

a {
  color: blue;
  color: hsl( 220, 90%, 40% );
  text-decoration: none;
}

a:hover {
  background-color: blue;
  background-color: hsl( 220, 90%, 50% );
  color: white;
}


#disclaimer {
  color: red;
  font-weight: bold;
  display: none;
}
.no-csstransforms3d #disclaimer { display: block; }

hr {
  border: none;
  border-top: 1px solid #CCC;
}


/* the big container */
.container {
  width: 500px;
  height: 500px;    
  margin: 0 auto 60px;
  position: relative;
  float: left;
  border: 1px solid #CCC;

  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  overflow: visible;
  transform-style: preserve-3d;
}

.panel {
  width: 192px;
  height: 192px;
  position: absolute;
  opacity: 0.7;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: red;
  transform-style: preserve-3d;   
}
.image {
  background-color: transparent;
  background-size: cover;
  opacity: 1.0;
}

